<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>新增服务</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">



    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- 引入 jQuery 库 -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- 引入 jQuery Mobile 库 -->
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!--

      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
      <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" />
      <script th:src="@{/js/jquery.min.js}"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
    -->

    <link rel="stylesheet" th:href="@{/style/weui.css}"/>
    <link rel="stylesheet" th:href="@{/css/weui2.css}"/>
    <link rel="stylesheet" th:href="@{/css/mall.css}"/>
    <link rel="stylesheet" th:href="@{/css/load.css}"/>

</head>
<body ontouchstart>
<header class="header">

</header>

<article class="weui_article content">
    <form th:align="center" role="form" name="form" th:action="@{/service/addservice}" method="post">
        <div data-role="main" class="ui-content">

            <div style="width: 100%" class="form-group">
                类别：
                <select name="category">
                    <option th:each="item :${categorys}" th:text="${item.getServiceCategory()}" th:value="${item.getServiceCategory()}"></option>
                </select>
            </div>
            <div style="width: 100%" class="form-group">
                <label for="content">服务内容：</label>
                <input type="text" name="content" id="content" placeholder="服务内容..." >
            </div>
            <div style="width:100%" class="form-group">
                <label for="fee">小费：</label>
                <input type="text" name="fee"  id="fee" placeholder="小费..." >
            </div>


            <div class="form-group">
                <div>
                    <input type="submit" value="确定" class="btn btn-info">
                    <input type="reset" value="重置" class="btn btn-danger">
                </div>
            </div>

        </div>
    </form>
<!--    <form method="post" action="/main">
        <button href="#" class="ui-btn ui-icon-home ui-btn-icon-left">放弃并返回主页</button>
    </form>-->

</article>

<!--  <div class="bd spacing">
    <a th:href="@{/toService/}" class="into weui_btn bg-orange">进入服务</a>
  </div>-->

<footer class="footer weui_tab tab-bottom" style="height:55px;">
    <nav class="weui_tabbar">
        <a th:href="@{/snack/index}" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <i class="icon icon-29"></i>
            </div>
            <p class="weui_tabbar_label">首页</p>
        </a>
        <a th:href="@{/snack/toService/}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="icon icon-62"></i>
            </div>
            <p class="weui_tabbar_label">服务</p>
        </a>
        <a href="javascript:" class="weui_tabbar_item"></a>
        <a th:href="@{/service/toOrder}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="icon icon-81"></i>
            </div>
            <p class="weui_tabbar_label">订单</p>
        </a>
        <a th:href="@{/user/info}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="icon icon-85"></i>
            </div>
            <p class="weui_tabbar_label">我的</p>
        </a>
    </nav>
</footer>

<div class="shop-cart">
    <a id="cart" th:href="@{/snackOrder/toShopCart}" class="cart">
        <div class="c-icon">
            <i class="icon icon-24"></i>
        </div>
        <!--<p class="c-txt">购物车</p>-->
    </a>
</div>
<span class="total-price">总价：￥<strong>0</strong></span>


</body>

</html>