<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" th:href="@{/css/weui.css}"/>
  <link rel="stylesheet" th:href="@{/css/weui2.css}"/>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/buy-success.css}">
</head>
<body ontouchstart>
  <header class="header">
    <div class="weui-header ">
      <div class="weui-header-left">
        <a th:href="@{/snack/index}" class="icon icon-95 f-orange"></a>
      </div>
      <h1 class="weui-header-title f-orange">服务</h1>
    </div>
  </header>
  <div class="weui_msg">
    <div class="weui_icon_area"><a class="weui_icon_success weui_icon_msg" th:href="@{/snack/index}"></a></div>
    <div class="weui_text_area">
      <h2 class="weui_msg_title">下单成功！</h2>
      <p class="weui_msg_desc order">您的订单号：<span id="no" th:text="${orderSnackId}">2245587</span></p>
      <p class="weui_msg_desc delivery">将于<span id="date" th:text="${deliverTime}">明日配送10:30 - 18:30 </span>安排配送</p>
      <p class="weui_msg_desc hint">请保持电话畅通</p>
    </div>
    <div class="weui_opr_area">
      <p class="weui_btn_area">
        <a th:href="@{/service/toOrder}" class="weui_btn weui_btn_warn">查看订单</a>
      </p>
    </div>
  </div>
</body>
</html>
