<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>送货地址</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" th:href="@{/css/weui.css}"/>
  <link rel="stylesheet" th:href="@{/css/weui2.css}"/>
  <link rel="stylesheet" th:href="@{/css/deliver.css}">
  <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body ontouchstart>
<header class="header">
  <div class="weui_tab_red" style="height:44px;"><!--tab-fixed添加顶部-->
    <div class="weui_navbar" style="height:44px;">
      <a class="back" th:href="@{/snackOrder/toShopCart}" ></a>
      <div class="weui_navbar_item"><!--<a href="#home-delivery">-->送货上门<!--</a>--></div>
      <!--<div class="weui_navbar_item"><a href="#since">自提点自提</a></div>-->
    </div>
  </div>
</header>

<article class="main">

  <section id="home-delivery" class="home-delivery ">
    <div class="now-location">
      <span class="txt">定位到当前位置</span>
      <i class="icon icon-18"></i>
    </div>
    <ul class="address-list">
      <li class="item" th:each="item : ${deliver_list}">
        <span class="activate"></span>
        <div class="a-main">
          <a th:href="@{/snackOrder/changeAddress/}+${item.getDeliverId()}">
            <div class="a-left">
              <div class="a-top">
                <span class="name" th:text="${item.getName()}">路遥</span>
                <span class="sex" th:text="${item.getGender()}">（先生）</span>
                <span class="phone" th:text="${item.getPhone()}">13112321232</span>
              </div>
              <div class="bottom">
                <span class="addr" th:text="${item.getAddress()}">研究生#2-303</span>
              </div>
            </div>
          </a>
          <div class="a-right">
            <a class="icon icon-116" th:href="@{/user/toUpdate/}+${item.getDeliverId()}"></a>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <section id="since" class="since">
    <div class="now-city">
      <div class="txt">当前城市：</div>
      <div class="city">
        <i class="icon icon-69"></i>
        <span class="c-name">雨山区</span>
      </div>
    </div>
    <div class="main-city">
      <ul class="left city-list">
        <li class="c-item">
          <span class="activate"></span>
          <div class="city">安徽工业大学（东校区）</div>
        </li>
      </ul>
      <ul class="right addr-list">
        <li class="a-item">
          <a href="payment.html">
            <div class="addr-decs">
              <span class="txt">体育馆</span>
              <span class="distance"><span>0.3</span>km</span>
            </div>
          </a>
          <div class="a-icon">
            <span class="icon icon-40"></span>
          </div>
        </li>
        <li class="a-item">
          <a href="payment.html">
            <div class="addr-decs">
              <span class="txt">机械楼</span>
              <span class="distance"><span>1.3</span>km</span>
            </div>
          </a>
          <div class="a-icon">
            <span class="icon icon-40"></span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</article>
<footer class="footer">
  <a href="javascript:;" class="txt">新建收货地址</a>
</footer>
</body>
<script th:src="@{/js/lib/zepto.min.js}"></script>
<script th:src="@{/js/deliver.js}"></script>
<script th:src="@{/js/example.js}"></script>
</html>