<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8">
		<title>辣条</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/weui.css" />
		<link rel="stylesheet" href="css/weui2.css" />
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/index.css">
	</head>

	<body ontouchstart>
		<header class="header">
			<h1>欢迎光临！</h1>
		</header>
		<article class="weui_article content">
			<h1>商品列表</h1>
			<div class="bd">
				<div class="row">
					<div class="col-33">
						<figure class="item">
							<a class="pic" href="detail.html"><img src="images/wl.jpg" width="70" height="95"></a>
							<figcaption>
								<strong class="title">卫龙</strong>
								<em class="desc">1.5元/袋</em>
								<div class="info">
									<span class="price">
                  						￥<strong>1.5</strong>
                					</span>
									<div class="buy">
										<span class="sub icon icon-122"></span>
										<span class="count">0</span>
										<span class="add icon icon-36"></span>
									</div>
								</div>
								<div class="tag">推荐</div>
							</figcaption>
						</figure>
					</div>
					<div class="col-33">
						<figure class="item">
							<a class="pic" href="detail.html"><img src="images/yl.jpg" width="70" height="95"></a>
							<figcaption>
								<strong class="title">饮料</strong>
								<em class="desc">drink</em>
								<div class="info">
									<span class="price">
                  						￥<strong>1.5</strong>
                					</span>
									<div class="buy">
										<span class="sub icon icon-122"></span>
										<span class="count">0</span>
										<span class="add icon icon-36"></span>
									</div>
								</div>
								<div class="tag">推荐</div>
							</figcaption>
						</figure>
					</div>
					<div class="col-33">
						<figure class="item">
							<a class="pic" href="detail.html"><img src="images/lt.jpg" width="70" height="95"></a>
							<figcaption>
								<strong class="title">辣条</strong>
								<em class="desc">spicy strips</em>
								<div class="info">
									<span class="price">
                  ￥<strong>1.0</strong>
                </span>
									<div class="buy">
										<span class="sub icon icon-122"></span>
										<span class="count">0</span>
										<span class="add icon icon-36"></span>
									</div>
								</div>
								<div class="tag">推荐</div>
							</figcaption>
						</figure>
					</div>
					<div class="col-33">
						<figure class="item">
							<a class="pic" href="detail.html"><img src="images/fbm.jpg" width="70" height="95"></a>
							<figcaption>
								<strong class="title">方便面</strong>
								<em class="desc">instant noodles</em>
								<div class="info">
									<span class="price">
                  ￥<strong>4.0</strong>
                </span>
									<div class="buy">
										<span class="sub icon icon-122"></span>
										<span class="count">0</span>
										<span class="add icon icon-36"></span>
									</div>
								</div>
								<div class="tag">推荐</div>
							</figcaption>
						</figure>
					</div>
					<div class="col-33">
						<figure class="item">
							<a class="pic" href="detail.html"><img src="images/nn.jpg" width="70" height="95"></a>
							<figcaption>
								<strong class="title">牛奶</strong>
								<em class="desc">milk</em>
								<div class="info">
									<span class="price">
                  ￥<strong>4.0</strong>
                </span>
									<div class="buy">
										<span class="sub icon icon-122"></span>
										<span class="count">0</span>
										<span class="add icon icon-36"></span>
									</div>
								</div>
								<div class="tag">推荐</div>
							</figcaption>
						</figure>
					</div>
					<div class="col-33">
						<figure class="item">
							<a class="pic" href="detail.html"><img src="images/phsp.jpg" width="70" height="95"></a>
							<figcaption>
								<strong class="title">膨化食品</strong>
								<em class="desc">puffed food</em>
								<div class="info">
									<span class="price">
                  ￥<strong>4.0</strong>
                </span>
									<div class="buy">
										<span class="sub icon icon-122"></span>
										<span class="count">0</span>
										<span class="add icon icon-36"></span>
									</div>
								</div>
								<div class="tag">推荐</div>
							</figcaption>
						</figure>
					</div>
				</div>
		</article>
		<footer class="footer weui_tab tab-bottom" style="height:55px;">
			<nav class="weui_tabbar">
				<a href="index.html" class="weui_tabbar_item weui_bar_item_on">
					<div class="weui_tabbar_icon">
						<i class="icon icon-29"></i>
					</div>
					<p class="weui_tabbar_label">首页</p>
				</a>
				<a href="mall.html" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<i class="icon icon-62"></i>
					</div>
					<p class="weui_tabbar_label">服务</p>
				</a>
				<a href="javascript:;" class="weui_tabbar_item"></a>
				<a href="service_order.html" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<i class="icon icon-81"></i>
					</div>
					<p class="weui_tabbar_label">订单</p>
				</a>
				<a href="myinfo.html" class="weui_tabbar_item">
					<div class="weui_tabbar_icon">
						<i class="icon icon-85"></i>
					</div>
					<p class="weui_tabbar_label">我的</p>
				</a>
			</nav>
		</footer>

		<div class="shop-cart">
			<a id="cart" href="shopcart.html" class="cart">
				<div class="c-icon">
					<i class="icon icon-24"></i>
				</div>
				<!--<p class="c-txt">购物车</p>-->
			</a>
		</div>
		<span class="total-price">总价：￥<strong>0</strong></span>

		<!-- 网络加载 -->
		<div id="net-loading" class="net-loading">
			<div class="loading-icon"></div>
			<span class="txt">加载中...</span>
		</div>

		<!-- 添加减少加载 -->
		<div id="buy-loading" class="buy-loading">
		</div>

		<!-- 错误提示 -->
		<div id="error" class="err-hints">错误信息</div>

	</body>
	<script src="js/lib/zepto.min.js"></script>
	<script src="js/lib/swipe.js"></script>
	<script src="js/lib/parabola.js"></script>
	<script src="js/lib/serverUrl.js"></script>

	<script src="js/index.js"></script>
	<script src="js/example.js"></script>
	</body>

</html>