<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>小校园</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<script th:src="@{http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js}"></script>

<body>
	<!-- 顶部登录注册 -->
	<header class="main_top">
		<a class="main_top_size" th:href="@{/login}"></a>
		<!--<span>登录</span>-->
		<span class="main_top_registered">注册</span>
	</header>
	<div class="main">
		<!-- logo部分 -->
		<!--<div class="logo">
			<img src="img/logo.jpg">
		</div>-->
		<!-- 手机号密码部分 -->
		<div class="mobile">
			<div class="center">
				<form method="post" th:action="@{/saveUser}">
					<div>
						<input type="text" name="none" placeholder="">
					</div>
					<div class="user gen">
						姓名：<input type="text" name="name" placeholder="请输入姓名">
					</div>
					<div class="gender gen">
						<label>
							<input type="radio"  name="gender" style="width: 80px;height: 25px" value="先生">
						</label><span style="font-size: 20px">先生</span>
						<label>
							<input type="radio"  name="gender" style="width: 80px;height: 25px" value="女士">
						</label><span style="font-size: 20px">女士</span>
					</div>
					<div class=" gen">
						学院：<input type="text" name="college" placeholder="请输入学院">
					</div>
					<div class=" gen">
						专业：<input type="text" name="major" placeholder="请输入专业">
					</div>
					<div class=" gen">
						手机号：<input type="text" name="phone" placeholder="请输入手机号">
					</div>
					<div class=" gen">
						密码：<input type="password" name="password" placeholder="请输入密码">
					</div>
					<div class=" gen">
						确认密码：<input type="password" name="passwordConfirm" placeholder="请确认密码">
					</div>
					<div class="sub">
							<input type="submit" value="注册" id="btn"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script>

</script>

</html>